convert one type to another type

In [6]:
# int to string
# string to integer
# int to float
# float to int

In [7]:
a = 6
print(type(a))

<class 'int'>

# int to string

In [8]:
# int to string

a = '6'
print(type(a))

<class 'str'>

In [15]:
# int to string

a = str(6)
print(a)
print(type(a))

6
<class 'str'>

In [10]:
x = 5
y = 5
z = x + y
print(z)

10

In [11]:
x = '5'
y = "5"
z = x + y
print(z)

55

# int to float

In [12]:
a = 9
print(type(a))

<class 'int'>

In [14]:
a = float(9)
print(a)
print(type(a))

9.0
<class 'float'>

# float to int

In [18]:
result = 20 / 10
print(result)
print(type(result))

2.0
<class 'float'>

In [19]:
result = int(20 / 10)
print(result)
print(type(result))

2
<class 'int'>

In [21]:
result = 20 / 10
print(result)
#---------------------
print(type(int(result)))

2.0
<class 'int'>

In [22]:
v = 5/2
print(v)

2.5

In [23]:
v = int(5/2)
print(v)

2

# string to int

In [25]:
a = "56"
type(a)

str

In [26]:
a = int("56")
type(a)

int

In [27]:
a = "python"
print(type(a))

<class 'str'>

In [29]:
a = "python"
print(type(int(a)))

ValueError: invalid literal for int() with base 10: 'python'