In [10]:
# clear the dict.

test = {
    1 : "one",
    2 : "two", 
    3 : "three"
}

print(test)

{1: 'one', 2: 'two', 3: 'three'}

In [11]:
type(test)

dict

In [12]:
test.clear()

In [13]:
print(test)

{}

In [14]:
# copy the dict.

test = {
    1 : "one",
    2 : "two", 
    3 : "three"
}

print(x)

NameError: name 'x' is not defined

In [15]:
x = test.copy()

In [16]:
print(x)

{1: 'one', 2: 'two', 3: 'three'}

In [17]:
test = {
    1 : "one",
    2 : "two", 
    3 : "three"
}


test[1]

'one'

In [18]:
test.get(1)

'one'

In [19]:
test[5]

KeyError: 5

In [23]:
test.get(5, "five")

'five'

In [24]:
# some more data types

details = {
    "fname" : "KP", 
    "lname" : "Sahoo", 
    "age" : 100, 
    "marks" : 30.78,
    "male" : True
}

In [25]:
print(details.items())

dict_items([('fname', 'KP'), ('lname', 'Sahoo'), ('age', 100), ('marks', 30.78), ('male', True)])

In [26]:
type(details.items())

dict_items

In [28]:
# delete the value by providing the key

print(details)

del [details["age"]]

{'fname': 'KP', 'lname': 'Sahoo', 'age': 100, 'marks': 30.78, 'male': True}

In [29]:
print(details)

{'fname': 'KP', 'lname': 'Sahoo', 'marks': 30.78, 'male': True}

In [31]:
# get all the keys

print(details.keys())

dict_keys(['fname', 'lname', 'marks', 'male'])

In [32]:
type(details.keys())

dict_keys

In [33]:
# pop

test = {
    1 : "one",
    2 : "two", 
    3 : "three"
}

test.pop(2)

'two'

In [34]:
test

{1: 'one', 3: 'three'}

In [35]:
# LIFO : last in first out

test = {
    1 : "one",
    2 : "two", 
    3 : "three", 
    4 : "four", 
    5 : "five",
}

In [36]:
test

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [37]:
# pop item

test.popitem()

(5, 'five')

In [38]:
test

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [39]:
test.popitem()

(4, 'four')

In [40]:
test

{1: 'one', 2: 'two', 3: 'three'}

In [41]:
# update

details = {
    "fname" : "KP", 
    "lname" : "Sahoo", 
    "age" : 100, 
    "marks" : 30.78,
    "male" : True
}

extra = {
    "location" : "India"
}

In [42]:
details.update(extra)

In [43]:
details

{'fname': 'KP',
 'lname': 'Sahoo',
 'age': 100,
 'marks': 30.78,
 'male': True,
 'location': 'India'}

In [44]:
d1 = {}
d2 = {"colour" : "black"}

d1.update(d2)

In [45]:
d1

{'colour': 'black'}

In [46]:
d2

{'colour': 'black'}

In [47]:
d = {}

In [48]:
d

{}

In [49]:
d.update( x = 3, y = 5 )

In [50]:
d

{'x': 3, 'y': 5}

In [51]:
type(d)

dict